<section class="article discussion">
    <center>
    Loading Comments ...
    </center>

    <script>
        function loadComment() {
            let theme_preference = localStorage.getItem("pref-theme");
            let is_dark_theme = theme_preference
                ? theme_preference == "dark"
                : window.matchMedia('(prefers-color-scheme: dark)').matches;
            let theme = is_dark_theme ? 'photon-dark' : 'github-light';

            let s = document.createElement('script');
            s.src = 'https://utteranc.es/client.js';
            s.setAttribute('repo', 'JCapucho/blog');
            s.setAttribute('issue-term', 'pathname');
            s.setAttribute('label', 'comments');
            s.setAttribute('theme', theme);
            s.setAttribute('crossorigin', 'anonymous');
            s.setAttribute('async', '');
            document.querySelector('section.article.discussion').innerHTML = '';
            document.querySelector('section.article.discussion').appendChild(s);
        }

        loadComment();

        document.getElementById("theme-toggle").addEventListener("click", () => {
            loadComment();
        });
    </script>
</section>
